# System files
.DS_Store
Thumbs.db

# Node
**/node_modules/

# Turborepo
.turbo/
**/.turbo/

# Build outputs
**/dist/
*.tsbuildinfo

# Logs
*.log

# Firebase
.firebase/
functions/lib/
service-account.json
